# Required for OpenAI embeddings
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE

# This implementation supports only "openai"
EMBEDDING_PROVIDER=openai

# Local Docker default:
# DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5435/rocathon
DATABASE_URL=postgresql://postgres:[password]@[host]:5432/postgres
